services:
  - type: web
    name: mystore-backend
    env: docker
    dockerfilePath: Dockerfile
    plan: starter
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
